name: Security audit

on:
  push:
    branches: ["main"]
    tags: ["bin@v*", "v*"]
    paths: ["**/Cargo.lock", "**/Cargo.toml"]
  pull_request:
    branches: ["main"]
    paths: ["**/Cargo.lock", "**/Cargo.toml"]
  schedule:
    - cron: "7 7 * * *"

jobs:
  cargo-audit:
    name: cargo audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - run: cargo install cargo-audit --locked

      - name: Audit crate
        run: cargo audit --deny warnings

      - name: Audit binary
        run: cargo audit --deny warnings
        working-directory: bin/
